@import "./variables";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;

    background-color: #eeeeff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a,
a:visited {
    color: blue;
}

button {
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    padding: $spacing-xs;
    width: 50%;
    border: 1px solid black;
    background-color: #eeeeee;
    border-radius: 25px;
    cursor: pointer;
}

ul {
    padding-inline-start: 20px;
}

input[type="button"] {
    outline: none;
}
input[type="button"]::-moz-focus-inner {
    border: 0;
}
*:focus {
    outline: 0 !important;
}
