@import "./../styles/_variables.scss";

h1,
.button-container,
.link-container {
    margin: $spacing-sm;

    @include sm {
        margin: $spacing-md;
    }
}

.question-container {
    padding: $spacing-sm;

    @include sm {
        padding: $spacing-md;
    }

    &:nth-child(even) {
        background-color: #eeeeee;
    }

    cursor: pointer;

    .question {
        font-weight: 700;
        margin-bottom: $spacing-xs;
    }

    .answer-container {
        margin-bottom: $spacing-xs;

        @include sm {
            margin-left: $spacing-md;
        }

        cursor: text;

        .answer {
            margin-bottom: $spacing-xs;
            min-height: 21px;

            &.answer--code {
                margin-bottom: 0;

                code {
                    white-space: pre;
                    font-size: 10px;

                    @include sm {
                        font-size: initial;
                    }
                    margin-bottom: 0;
                }
            }
        }

        img {
            max-width: 100%;
            max-height: 300px;
        }
    }

    .sources {
        word-wrap: break-word;
        div {
            margin-bottom: $spacing-xs;
        }
    }
}

.button-container {
    margin-left: 0;
    margin-right: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
