@import "./../styles/_variables.scss";

.question-container {
    margin-bottom: $spacing-sm;

    @include sm {
        margin-bottom: $spacing-md;
    }
    .question {
        @extend .unselectable;
        font-weight: 700;
        cursor: pointer;
        margin-bottom: $spacing-xs;
    }

    .answer-container {
        margin-bottom: $spacing-xs;

        @include sm {
            margin-left: $spacing-md;
        }

        .answer {
            margin-bottom: $spacing-xs;

            &.answer--code {
                margin-bottom: 0;

                code {
                    white-space: pre;
                    font-size: 12px;

                    @include sm {
                        font-size: initial;
                    }
                    margin-bottom: 0;
                }
            }
        }

        img {
            max-width: 100%;
            max-height: 300px;
        }
    }

    .sources {
        word-wrap: break-word;
        div {
            margin-bottom: $spacing-xs;
        }
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
